<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vivre dans l'Ouest</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Souidi Khadija</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/nav.html.twig">Accueil</a></li>
      <li><a href="/bretagne">Bretagne</a></li>
      <li><a href="#">Normandie</a></li>

    </ul>
  </div>
</nav>
  
<div class="container">
  <h3>Vivre dans l'Ouest</h3>
  <p>Bienvenue sur le site de l'agence <strong>Vivre dans l'Ouest</strong>. Notre agence propose des annonces immobilières exclusivement dans l'ouest de la France, en Bretagne et en Normandie. <br></br>
  
  Les types de transaction immobilières sont soit des locations, soit des ventes. <br></br>
  Les biens sont exclusivement des maisons ou des appartements.
   </p>
</div>

</body>
</html>

