<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vivre dans l'Ouest</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Souidi Khadija</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/homepage">Accueil</a></li>
      <li><a href="/bretagne">Bretagne</a></li>
      <li><a href="/normandie">Normandie</a></li>
      <li><a href="/estimation">Estimez votre bien</a></li>

    </ul>
  </div>
</nav>
  
<div class="container">
  <h3>Vivre dans l'Ouest</h3>
  <p>Bienvenue sur le site de l'agence <strong>Vivre dans l'Ouest</strong>. Notre agence propose des annonces immobilières exclusivement dans l'ouest de la France, en Bretagne et en Normandie. <br></br>
  
  Les types de transaction immobilières sont soit des locations, soit des ventes. <br></br>
  Les biens sont exclusivement des maisons ou des appartements.
   </p><br></br>
  

  <div id="slides">
  <p>
    <figure id="slide1">
      <img src="https://odis.homeaway.com/odis/listing/9acc7ce8-be6e-4a23-a32f-c018fca8937a.f6.jpg
                " alt=""><strong><h3> Location appartement T1 Rennes<h3></strong>
        380 euros/mois pour 29m² 
      </p>
    </figure><br></br>
    <figure id="slide2">
      <img src="https://www.ouestfrance-immo.com/photo-vente-maison-rouen-76/207/maison-a-vendre-rouen-13950699_2_1570639348_6f50526b9a6d4b82dbe7f95e163806dd_crop_686-515_.jpg
                " alt="">
      <strong><h3> Vente de maison à Rouen<h3></strong>
        519 000€ pour 230m² 
    </figure>
    
  </div>
</div>
 <footer >
 <a href="/mention">Mentions Légales </a>
        <p>© 2020 Souidi Khadija</p>
    </footer>
</body>
</html>

