<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vivre dans l'Ouest</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Souidi Khadija</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/homepage">Accueil</a></li>
      <li><a href="/bretagne">Bretagne</a></li>
      <li><a href="/normandie">Normandie</a></li>
        <li><a href="/estimation">Estimez votre bien</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <h3>Estimez votre bien</h3>
  <p>
<form action="#">
  <fieldset>
    <legend>Contact</legend>
      <label for="nom">Nom <em>*</em></label>
      <input id="nom" placeholder="Nom" autofocus="" required=""><br></br>
       <label for="nom">Prénom <em>*</em></label>
      <input id="prenom" placeholder="Prénom" autofocus="" required=""><br></br>
      <label for="email">Email <em>*</em></label>
      <input id="email" type="email" placeholder="xxx@xxx.fr" required><br></br>
  </fieldset>
  <fieldset>
      <label for="region">Région</label>
      <select id="region">
        <option value="bretagne" name="region">Bretagne</option>
        <option value="normandie" name="region">Normandie</option>
      </select><br>
      <label for="comments">Présentez le bien et la région où se situe le bien</label>
      <textarea id="comments"></textarea><br></br>
      <input type="submit" value="Envoyer le formulaire">
  </fieldset>
   </p>
</div>

 <footer >
 <a href="/mention">Mentions Légales </a>
        <p>© 2020 Souidi Khadija</p>
    </footer>


</body>
</html>

