<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {#
            importer le CSS compilé par webpack(composant encore)
            app : le nom de l'entrée est contenue dans webpack.config.js : addEntry(...)
        #}
    
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {#
            mise en page:
                les templates parents sont stockés à la racine du dossier templates
                les templates enfants sont stockés dans des dossiers du dossier templates
            principales instructions de mise en page
                extends: héritage entre deux templates
                block: zone vide à remplir ou pas dans un template enfant
                include: inclusion de template twig
        #}
        {% include '_inc/nav.html.twig' %}

        <div class="container my-3">
            {% block body %}{% endblock %}
        </div>

        {#
            importer le JS compilé par webpack(composant encore)
            app : le nom de l'entrée est contenue dans webpack.config.js : addEntry(...)
        #}
      

        {% block javascripts %}{% endblock %}
    </body>
</html>
